:root {
  --bg-color: white;
  --text-color: #4E342E;
  --link-color: #9B3922;
  --hover-link-color: #d1d6da;
  --btn-bg: #8a5431;
  --btn-text: white;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #BB86FC;
  --hover-link-color: #3700B3;
  --btn-bg: #333333;
  --btn-text: #e0e0e0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--hover-link-color);
}

.btn-1 {
  background-color: var(--btn-bg);
  color: var(--btn-text);
}
/*Banner*/
body {
  background-color: #8a5431;
}
.banner {
  background-image:linear-gradient(100deg, #000000, #00000020), url('../images/I2.webp');
  height: 60rem;
  background-size: cover;
  background-position: center;
}
.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem 0;
}
.content-banner p {
  color: #481E14;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.content-banner h2 {
  color: #9B3922;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: #0C0C0C;
  background-color: #9B3922;
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
}
/*Banner*/
/*Seccion 1*/
.licor {
    padding: 100px;
    background-color: #ECB176;
    position: relative;
}

.licor-content {
    text-align: center;
}

.licor-content h2 {
   font-size: 55px;
   line-height: 70px;
   color: #9B3922;
   text-transform: uppercase;
   padding: 0 250px;
   margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #0C0C0C;
    padding: 0 250px;
    margin-bottom: 35px;
 }

 .licor-group {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
 }

 .licor-1 {
    padding: 0 25px;
 }
 
 .licor-1 img {
    width: 200px;
    border-radius: 15%;
    border-image: black;
 }
 
 .licor-img {
    position: absolute;
    top: 0;
    right: 0;
 }
 
 .licor-1 h3 {
    color: #9B3922;
    font-size: 20px;
    margin-bottom: 15px;
 }
 /*Seccion 1*/

 /*Main*/
 .services {
   background-image: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)),
      url('../images/bar2.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; /**hace que la imagen no se mueva*/
      padding: 100px 0;
 }

 .services-content {
   text-align: center;
 }

 .services-content h2 {
   font-size: 55px;
   line-height: 70px;
   color: #9B3922;
   text-transform: uppercase;
   margin-bottom: 50px;
 }

 .services-content p {
   font-size: 16px;
   color: #FFEEAD;
   margin-bottom: 50px;
   padding: 0 100px;
 }

 .services-group {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
 }

 .services-1 {
   padding: 0 100px;
 }

 .services-1 img {
   width: 25px;
   margin-bottom: 15px;
 }

 .services-1 h3 {
   color: #9B3922;
   font-size: 18px;
 }
 /*Main*/
 /*Galeria*/
 .gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 20rem);
	gap: 1rem;
  background-color: #ECB176;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  transform: scale(0.95);
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
  object-fit: cover;
  transform: scale(1);
}
/*Galeria*/
 /*botones*/
 .btn-1 {
  padding: 10px 20px;
  background-color: #8a5431;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
 }

 .btn-1:hover {
    background-color: #fc894f;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.7); 
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
 }
 /*botones*/