
:root {
    --bg-color: linear-gradient(214deg, rgb(87, 63, 44) 0%, rgb(224, 155, 75) 50%, rgb(87, 66, 41) 100%);
    --form-bg: #fff7d5;
    --input-border: #ECB176;
    --title-color: #a96c43;
    --button-bg: #a96c43;
    --button-hover-bg: #fc894f;
    --text-color: #333;
    --span-color: #616351;
}

/* Modo oscuro */
body:has(#dark-mode-toggle:checked) {
    --bg-color: linear-gradient(115deg, rgb(53, 39, 28) 0%, rgb(111, 81, 46) 50%, rgb(54, 41, 25) 100%);
    --form-bg: rgb(82, 56, 40);
    --input-border: #d28b5e;
    --title-color: #d28b5e;
    --button-bg: #4e3c32;
    --button-hover-bg: #d28b5e;
    --text-color: #e0e0e0;
    --span-color: #b0b0b0;
}

.container {
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    background-position: center;
    background-size: cover;
    position: absolute;
    color: var(--text-color);
}

.form-box {
    width: 430px;
    height: 505px;
    position: relative;
    margin: 6% auto;
    background-color: var(--form-bg);
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px #d4b598;
}
.title {
    font-family: 'Pacifico', cursive;
    font-size: 2.3rem;
    color: var(--title-color);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#elegir {
    top: 0;
    left: 0;
    position: absolute;
    width: 240px;
    height: 100%;
    background: linear-gradient(to right, var(--title-color), #b2875d);
    border-radius: 30px;
}

.redes-sociales {
    margin: 35px auto;
    margin-bottom: 40px;
    text-align: center;
}

.google, .facebook, .gith {
    color: rgb(255, 159, 32);
    margin: 5px;
    cursor: pointer;
}

.input-group {
    margin-top: 20px;
    margin-left: 20px;
    top: 400px;
    position: absolute;
    width: 290px;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid var(--input-border);
    outline: none;
    background: transparent;
    color: var(--text-color);
}

.submit-btn {
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    outline: none;
    display: block;
    margin: auto;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px #d4b598;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-btn:hover {
    background-color: var(--button-hover-bg);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.7);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.check-box {
    margin: 20px 10px 28px 0;
}

span {
    color: var(--span-color);
    font-size: 14px;
    bottom: 64px;
    position: absolute;
}

#login {
    left: 50px;
    top: 190px;
}
