*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container {
    width: 100%;
    height: 100%;
    margin: auto;
}
:root {
    /* Colores del tema claro */
    --background-color-home: #A67B5B;
    --background-color-home1: #FED8B1;
    --background-color-home2: #A67B5B;
    --text-color: #0C0C0C;
    --button-bg-color: #FFEEAD;
    --button-hover-bg-color: #9B3922;
    --button-hover-text-color: #96CEB4;
}

:root.dark-mode {
    /* Colores del tema oscuro */
    --background-color-home: #333333;
    --background-color-home1: #444444;
    --background-color-home2: #555555;
    --text-color: #FFFFFF;
    --button-bg-color: #666666;
    --button-hover-bg-color: #777777;
    --button-hover-text-color: #DDDDDD;
}

/* Aplicar las variables */
body {
    color: var(--text-color);
}

.home {
    background: var(--background-color-home);
}

.home1 {
    background: var(--background-color-home1);
}

.home2 {
    background: var(--background-color-home2);
}

.btn-1 {
    background-color: var(--button-bg-color);
    color: var(--text-color);
}

.btn-1:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

/*Seccion 1*/
.home {
    width: 100%;
    min-height: 100vh;
    background: #A67B5B;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content {
    max-width: 800px;
}
.home-content h3 {
    font-size: 42px;
    color: #0C0C0C;
}
.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
    color: #0C0C0C;
}
.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
    color: #0C0C0C;
    text-align: justify;
}
.btn-box {
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1 {
    padding: 15px 28px;
    background-color: #FFEEAD;
    color: #0C0C0C;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover {
    background-color: #9B3922;
    color: #96CEB4;
    border: 2px solid #9B3922;
}
.img-box img {
    border-radius: 50%;
    width: 410px;
    height: 470px;
}
/*Seccion 1*/
/*SeccionM*/
.home1 {
    width: 100%;
    min-height: 100vh;
    background: #FED8B1;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
    flex-direction: row-reverse;/*invertir orden*/
}
.home-content1 {
    max-width: 800px;
    text-align: left;
}
.home-content1 h3 {
    font-size: 42px;
    color: #0C0C0C;
}
.home-content1 h1 {
    font-size: 62px;
    line-height: 1.2;
    color: #0C0C0C;
}
.home-content1 p {
    font-size: 18px;
    margin: 25px 0 30px;
    color: #0C0C0C;
    text-align: justify;
}
.btn-box1 {
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1 {
    padding: 15px 28px;
    background-color: #FFEEAD;
    color: #0C0C0C;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover {
    background-color: #9B3922;
    color: #96CEB4;
    border: 2px solid #9B3922;
}
.img-box1 img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
}
/*SeccionM*/
/*SeccionL*/
.home2 {
    width: 100%;
    min-height: 100vh;
    background: #A67B5B;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content2 {
    max-width: 800px;
}
.home-content2 h3 {
    font-size: 42px;
    color: #0C0C0C;
}
.home-content2 h1 {
    font-size: 62px;
    line-height: 1.2;
    color: #0C0C0C;
}
.home-content2 p {
    font-size: 18px;
    margin: 25px 0 30px;
    color: #0C0C0C;
    text-align: justify;
}
.btn-box2 {
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1 {
    padding: 15px 28px;
    background-color: #FFEEAD;
    color: #0C0C0C;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover {
    background-color: #9B3922;
    color: #96CEB4;
    border: 2px solid #9B3922;
}
.img-box2 img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
}
/*SeccionL*/