.flex-container {
    display: flex;
    margin: 0 auto;
}

.content{
    flex-basis: 50%;
}

.slider-bar{
    background-color: rgb(254, 232, 217);
    order: initial;
    flex-basis: 25%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    position: sticky;
    top: 20px;
    flex-basis: 20%;
    background-color: #afe1ca;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 1rem;
}

article {
    padding: 15px;
    background-color: white;
    margin: 10px;
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: black 0px 0px 5px;
    margin: auto;
    height: 350px;
    width: 250px;
    transition: box-shadow 0.5s;
    border-radius: 5px;
}

.card-header{
    height: 200px;
    background-image: url(../images/header.png);
}

.card:hover{
    box-shadow: rgb(88, 64, 54) 0px 0px 25px;
}

.card:hover img{
    transform: scaleX(-1);
}

.card-body{
    height: 150px;
    padding: 10px;
}

.card-body h3{
    padding: 10px;
    text-align: center;
}

.card-body p{
    padding: 10px;
    text-align: center;
}
