:root {
    --bg-color: white;
    --text-color: #4E342E;
    --link-color: white;
    --hover-link-color: #d1d6d7;
    --article-bg: #fdc887; 
    --article-hover-bg: #FFC175;
    --article2-bg: #82cbd4;
    --article2-hover-bg: #6DC5D1;
    --aside-bg: rgb(255, 247, 236);
    --container-bg: white; 
    --p-color: #4E342E;
    --h3-color: #6b4226;
    --aside-text-bg: rgba(153, 42, 42, 0.05);
}

body:has(#dark-mode-toggle:checked) {
    --bg-color: #1E1E1E;
    --text-color: #F5F5F5;
    --link-color: #F5F5F5;
    --hover-link-color: #FFCC99;
    --icon-color: #FFCC99;
    --article-bg: rgb(95, 68, 52);
    --article-hover-bg: rgb(90, 65, 51);
    --article2-bg: #2e5c63; 
    --article2-hover-bg: #285960;
    --aside-bg: #2e2e2e; 
    --container-bg: #333333; 
    --p-color: white;
    --h3-color: rgb(255, 245, 235);
    --aside-text-bg: rgba(234, 228, 224, 0.307);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container{
    background-color: var(--container-bg); /* Color del container */
}

.flex-container {
    display: flex;
    margin: 0 auto;
}

.content{
    flex-basis: 60%;
}

.content h2{
    margin: 2rem;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--h3-color)
}
 
.slider-bar{
    order: initial;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #967259;
    margin-top: 2rem;
}

.slider-bar p {
    padding: 7px;
    border-radius: 5px;
    width: 8rem;
    margin-top: 2rem;
    text-align: center;
    background-color: #8a5431;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.slider-bar a {
    list-style: none;
    text-decoration: none; 
    color: white; 
}

.slider-bar p:hover {
    background-color: #fc894f; 
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.7); 
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

aside {
    position: sticky;
    top: 10rem;
    flex-basis: 20%;
    background-color: var(--aside-bg);
    border: 1px solid #f7b462;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 1rem;
    height: 370px;
}

article {
    background-color: var(--article-bg); /* Fondo de article */
    padding: 15px;
    margin: 10px;
    display: flex;
    transition: all 0.5s;
}

article:hover {
    background-color: var(--article-hover-bg);
}

.second-card{
    background-color: var(--article2-bg);
}

.second-card:hover {
    background-color: var(--article2-hover-bg);
}

.liquor-information{
    flex-basis: 50%;
    margin-left: 2rem;
    align-content: center;
    max-width: 400px;
}

.liquor-information p{
    margin-top: 2rem;
    color: var(--p-color);
    text-align: justify;
}

.liquor-information h3{
    color: var(--h3-color);
    font-size: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 0;
    height: 450px;
    width: 270px;
    transition: box-shadow 0.5s;
}

.card-header {
    background-color: #fff6e8;
    height: 320px;
    transition: transform 0.5s;
    position: relative; /* Necesario para efectos como opacidad */
    border-radius: 5px 5px 0 0;
}

.vino-header {
    background-image: url('../images/logo.jpg');
    background-size: cover;
    background-position: center;
}

.vodka-header {
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: center;
}

.whisky-header {
    background-image: url('../images/whisky.png');
    background-size: cover;
    background-position: center;
}

.aguardiente-header {
    background-image: url('../images/aguardiente.png');
    background-size: cover;
    background-position: center;
}

.card:hover .card-header{
    animation: animateLiquorCard 1s ;
}

.card:hover{
    box-shadow: rgb(255, 230, 210) 0px 0px 10px;
}

.card-body {
    background-color: #f7dcae;
    height: 130px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.liquor-name {
    font-family: 'Pacifico', cursive;
}

.liquor-details {
    font-size: 1rem;
    color: #967259;
    margin-top: 1rem;
}

.liquor-price {
    font-size: 1.3rem;
    color: #6b4226;
    font-weight: bold;
    margin: 0;
}

.buy-button {
    font-family: 'Lora', serif;
    padding: 10px 20px;
    background-color: #8a5431;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buy-button:hover {
    background-color: #fc894f;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.7); 
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.second-button{
    background-color: #408791;
}

.second-button:hover{
    background-color: #00b1c9;
    box-shadow: 0 0 5px #00707e; 
}

.stock-button{
    list-style: none;
    text-decoration: none; 
    color: white; 
}

.aside-preguntas h2 {
    font-size: 1.5rem;
    color: var(--h3-color);
    margin-bottom: 1rem;
    text-align: center;
}

.faq-item {
    margin-bottom: 1rem;
}

.faq-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    margin: 0;
    padding: 5px 0;
}

.faq-content {
    font-size: 0.9rem;
    color: var(--p-color);
    margin-top: 5px;
    text-align: justify;
    padding: 5px;
    background-color: var(--aside-text-bg);
    border-radius: 5px;
}


@keyframes animateLiquorCard {
    0% {
        transform: scale(1) ;
        opacity: 1;
    }
    50% {
        transform: scale(1.1) ;
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}