*{
    margin: 0;
}

body{
    font-family: Intro, arial, 'Helvetica Neue', Helvetica, Arial, sans-serif, arial;
}

header {
    background-color: #6F4E37;
    color: aliceblue;
    padding: 10px 20px; 
}

.header{
    margin: 0 auto;
    width: 75%;
    display: flex; 
    align-items: center; 
    justify-content: space-between; /* Distribuye el contenido entre los extremos */
}

.mark {
    display: flex; 
    align-items: center; /* Centra verticalmente los elementos dentro de .mark */
}

.mark img {
    width: 100px;
    border-radius: 45%;
    position: absolute; /* Alinea el logo independientemente del flexbox */
    margin-top: 3rem;
}

.mark h1 {
    font-style: italic; 
    font-family: "Pacifico";
    font-size: 30px;
    margin-left: 120px;
}

.options {
    display: flex; 
    align-items: center; 
    gap: 15px; /* Espacio entre los íconos */
}

.options img {
    width: 30px; /* Tamaño de los íconos */
    height: auto;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

nav {
    width: 100%;
    background-color: #6F4E37;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: center;
}

nav ul li {
    padding: 1rem;
}

nav ul li a {
    text-decoration: none; 
    color: white; 
}

nav ul li a:hover {
    color: #d1d6d7; 
}
