*{
    margin: 0;
}

body{
    font-family: Intro, arial, 'Helvetica Neue', Helvetica, Arial, sans-serif, arial;
}

header {
    background-color: white;
    color: #76553d;
    padding: 10px 20px; 
}

p {
    font-family: 'Lora', serif;
    font-size: 1.1rem;
}


.header{
    margin: 0 auto;
    width: 75%;
    display: flex; 
    align-items: center; 
    justify-content: space-between; /* Distribuye el contenido entre los extremos */
}

.mark {
    display: flex; 
    align-items: center; /* Centra verticalmente los elementos dentro de .mark */
}

.mark img {
    width: 100px;
    position: absolute; /* Alinea el logo independientemente del flexbox */
    margin-top: 3rem;
    padding: 2px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: rgb(252, 249, 242);
}

.mark h1 {
    font-style: italic; 
    font-family: "Pacifico";
    font-size: 30px;
    margin-left: 120px;
}

.options {
    display: flex; 
    align-items: center; 
}

.options i {
    width: 70px; 
    height: auto;
    cursor: pointer;
    color: #6F4E37;
}

nav {
    width: 100%;
    background-color: #835333;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: center;
    font-family: 'Lora', serif;
}

nav ul li {
    padding: 1rem;
}

nav ul li a {
    text-decoration: none; 
    color: white;
    font-weight: bold; 
}

nav ul li a:hover {
    color: #d1d6d7; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #A67B5B;
    color: #9B3922;
}

footer h3, footer h4 {
    margin-bottom: 10px;
}

footer p {
    color: #0C0C0C;
}

footer .social-icons img {
    width: 40px;
    margin: 0 5px;
}